@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-poppins), sans-serif;
}

.card-box {
  @apply bg-white rounded-3xl shadow-2xl p-8 backdrop-blur-lg backdrop-filter;
}

.bg-gradient-main {
  @apply bg-gradient-to-br from-blue-50 to-indigo-50;
}


